# Bỏ qua thư viện của Node.js (Cái này là "trùm" nặng, TUYỆT ĐỐI không push lên)
node_modules/

# Bỏ qua các thư mục đóng gói App của Electron
release-builds/
dist/
out/
build/

# Bỏ qua file log (mấy cái file báo lỗi lặt vặt của npm)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua file cấu hình biến môi trường (Nếu sau này cậu có file .env giấu API Key của Firebase thì không được để lộ lên mạng)
.env
.env.local

# Bỏ qua file rác của hệ điều hành (nếu cậu xài Mac hoặc copy qua lại)
.DS_Store
Thumbs.db